html{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    background-color: darkgrey;
    text-align: center;
}

head{
    text-align: center;
}

body{
    text-align: center;
}
