{% extends "base.html" %} {% block title %}Inicio - Barajas{% endblock %}

{% block content %}
<html>
<head>
    <title>Pagina de inicio</title>
</head>
<body>
    <h1>Pagina de inicio</h1>
    <hr>
    <h2>Barajas</h2>
    <ul>
        <li>Baraja #1</li>
        <li>Baraja #2</li>
        <li>Baraja #3</li>
    </ul>
     
     <textarea id="Nombre de nueva baraja" placeholder="Nombre de nueva baraja" name="barajas" ></textarea> 
     <button type="submit">Crea tu baraja</button>
     <br>
     <a href="/pagina_repaso">Pagina de Repaso</a>

</body>
</body>
</html>

{% endblock %}