{% extends "base.html" %} {% block title %}Inicio - Barajas{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Estadisticas</title>
</head>
<body>
    <h1>Estadisticas</h1>
    <hr>
    <p>Mira tu reporte estadistico diario, semanal y mensual.</p>
    <h2>Estadisticas diarias</h2>
    <p>Tu avance diario lo puedes ver en la siguiente grafica.</p>
        <!--Aqui va la imagen de la grafica que nmi de como se hará-->>
    <img src="https://i.pinimg.com/originals/17/4b/4b/174b4b741e68ebe0f7c7dbff2efca246.png" width="350"/>
    <br>
    <h2>Estadisticas semanales</h2>
    <p>Tu avance semanal lo puedes ver en la siguiente grafica.</p>
    <!--Aqui va la imagen de la grafica que nmi de como se hará-->>
    <img src="https://i.pinimg.com/originals/17/4b/4b/174b4b741e68ebe0f7c7dbff2efca246.png" width="350"/>
    <br>
    <h2>Estadisticas mensuales</h2>
    <p>Tu avance mensual lo puedes ver en la siguiente grafica.</p>
    <!--Aqui va la imagen de la grafica que nmi de como se hará-->>
    <img src="https://i.pinimg.com/originals/17/4b/4b/174b4b741e68ebe0f7c7dbff2efca246.png" width="350"/>
    <br><br>
</body>
</html>

{% endblock %}