{% extends "base.html" %} {% block title %}Tutorial{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Tutorial</h1>
<p>En este apartado encontrara información relacionada a las caracteristicas y funcionamiento del programa</p>

<ul class="navbar">
    <li><a href="#pagina_de_inicio">Pagina de Inicio</a></li>
    <li><a href="#crear_cartas">Crear cartas</a></li>
    <li><a href="#pagina_repaso">Página Repaso</a></li>
    <li><a href="#estadisticas_page">Estadisticas</a></li>
</ul>

<a name="Pagina de Inicio" id="pagina_de_inicio"></a>
<h2>Página de Inicio</h2>
<img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/69573433_1325428084286422_4684965874258411520_n.png?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGaZ_4Vzmr6UuHzswJCLM26wVqExLqS1KjBWoTEupLUqAJcKVI9UESOVWernAo0HIxflZLLIBQQngvzDD9Bp-ql&_nc_ohc=4GvzvncnacwAX8-3Kq5&_nc_ht=scontent-bog1-1.xx&oh=8fd48a03a8706da2e0e8007f19bc94a0&oe=61B19800" alt="#1">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quidem animi temporibus ducimus nam recusandae in aspernatur doloribus et illum mollitia doloremque fugit aperiam iusto est, explicabo nulla atque? Repellendus.</p>

<a name="Crear cartas" id="crear_cartas"></a>
<h2>Crear cartas</h2>
<img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/69573433_1325428084286422_4684965874258411520_n.png?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGaZ_4Vzmr6UuHzswJCLM26wVqExLqS1KjBWoTEupLUqAJcKVI9UESOVWernAo0HIxflZLLIBQQngvzDD9Bp-ql&_nc_ohc=4GvzvncnacwAX8-3Kq5&_nc_ht=scontent-bog1-1.xx&oh=8fd48a03a8706da2e0e8007f19bc94a0&oe=61B19800" alt="#1">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores numquam, eligendi, eos perspiciatis quidem neque atque minima necessitatibus dolor voluptatibus unde totam in quia? Omnis excepturi expedita earum laudantium.</p>

<a name="Página Repaso" id="pagina_repaso"></a>
<h2>Página Repaso</h2>
<img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/69573433_1325428084286422_4684965874258411520_n.png?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGaZ_4Vzmr6UuHzswJCLM26wVqExLqS1KjBWoTEupLUqAJcKVI9UESOVWernAo0HIxflZLLIBQQngvzDD9Bp-ql&_nc_ohc=4GvzvncnacwAX8-3Kq5&_nc_ht=scontent-bog1-1.xx&oh=8fd48a03a8706da2e0e8007f19bc94a0&oe=61B19800" alt="#1">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, asperiores. In a nemo asperiores ad suscipit harum esse dolore et iusto hic! Nisi animi quos deleniti saepe dolor sit ut.</p>

<a name="Estadisticas" id="estadisticas_page"></a>
<h2>Estadisticas</h2>
<img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/69573433_1325428084286422_4684965874258411520_n.png?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGaZ_4Vzmr6UuHzswJCLM26wVqExLqS1KjBWoTEupLUqAJcKVI9UESOVWernAo0HIxflZLLIBQQngvzDD9Bp-ql&_nc_ohc=4GvzvncnacwAX8-3Kq5&_nc_ht=scontent-bog1-1.xx&oh=8fd48a03a8706da2e0e8007f19bc94a0&oe=61B19800" alt="#1">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab cum nesciunt fugiat quisquam, placeat eveniet architecto dolore blanditiis iure necessitatibus adipisci sequi laudantium sit quaerat neque temporibus ut beatae saepe.</p>
</body>
</html>

{% endblock %}