{% extends "base.html" %} {% block title %}Tutorial{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tutorial.css') }}">

</head>
<body>
<h1>Tutorial</h1>
<p>En este apartado encontrara información relacionada a las caracteristicas y funcionamiento del programa</p>

<ul class="navbar">
    <li><a href="#barajas">Barajas</a></li>
    <li><a href="#crear_cartas">Crear cartas</a></li>
    <li><a href="#pagina_repaso">Página Repaso</a></li>
    <li><a href="#notas">Notas</a></li>
</ul>

<a name="barajas" id="barajas"></a>
<h2 >Barajas</h2>
<img src="../static/images/images_tutorial/tutorial_barajas.png" alt="Tutorial Barajas 1" width="100%" height="550em" >
<ol>
    <li>Este nombre le indica en que baraja se encuentra.</li>
    <li>La barra de navegacion para las cuatro barajas que posee permite al usuario administrar sus barajas.</li>
    <li>El boton le permite cargar la información de la baraja.</li>
    <li>El boton le permite estudiar la baraja previamente seleccionada.</li>
    <li>Debajo de su respectivo titulo se encontrara la parte delantera y trasera de cada carta.</li>
</ol>


<a name="Crear cartas" id="crear_cartas"></a>
<h2>Crear cartas</h2>
<img src="../static/images/images_tutorial/tutorial_cartas1.png" alt="Tutorial Cartas 1" width="100%" height="550em" >
<ol>
    <li>Dentro de esta area de texto se digita la informacion que se desea guardar como el <b>FRENTE</b> de la carta.</li>
    <li>Dentro de esta area de texto se digita la informacion que se desea guardar como el <b>DETRAS</b> de la carta.</li>
    <li>El boton le permite <b>agregar la carta</b> a la baraja seleccionada.</li>
</ol>


<br>
<img src="../static/images/images_tutorial/tutorial_cartas2.png" alt="Tutorial Cartas 2" width="100%" height="550em" >
<ul>
    <li>En el espacio señalado se encontrara la parte delantera y trasera de cada carta.</li>
</ul>

<a name="Página Repaso" id="pagina_repaso"></a>
<h2>Página Repaso</h2>
<img src="../static/images/images_tutorial/tutorial_paginarepaso1.png" alt="Tutorial Pagina Repaso 1" width="100%" height="550em" >
<ol>
    <li>El boton le permite cargar la información de la baraja seleccionada.</li>
    <li>El boton le permite estudiar la baraja seleccionada.</li>
</ol>
<br>

<img src="../static/images/images_tutorial/tutorial_paginarepaso2.png" alt="Tutorial Pagina Repaso 2" width="100%" height="550em" >
<ol>
    <p>3. El boton muestra la <b>respuesta</b> correspondiente a la pregunta (parte trasera).</p>
    <p>4. En esta seccion se muestra la <b>pregunta</b> de la carta (parte delantera.)</p>

</ol>
<br>

<img src="../static/images/images_tutorial/tutorial_paginarepaso3.png" alt="Tutorial Pagina Repaso 3" width="100%" height="550em" >
<ol>
    <p>5. Luego de haber oprimido el boton señalado en la seccion 3, en esta area se mostrara la <b>respuesta</b> correspondiente a la pregunta (parte trasera).</p>
    <p>6. Los botones ubicados en esta barra permitiran calificar la dificultad de la <b>pregunta</b> de la (parte delantera de la carta.)</p> 
</ol>
<br>


<a name="Notas" id="notas"></a>
<h2>Notas</h2>
<img src="../static/images/images_tutorial/tutorial_notas1.png" alt="Tutorial Pagina Repaso 3" width="100%" height="550em" >
<ol>
    <li>Dentro de esta area de texto se digita la informacion que se desea guardar en la nota</li>
    <li>Haciendo uso de este boton se ingresa y se guarda la nota.</li>

</ol>
<br>
<img src="../static/images/images_tutorial/tutorial_notas2.png" alt="Tutorial Pagina Repaso 3" width="100%" height="550em" >
<ol>
    <p>3. En esta seccion se mostraran sus notas en orden cronologico (de creacion mas antigua a mas reciente)</p>

</ol>
<br>
<nav class="pepe">
    <a id="volver_al_inicio" name="volver_al_inicio" type="button" class="btn btn-info" href="/tutorial">Volver al inicio</a>
</nav>

</body>
</html>

{% endblock %}